.main-col
  text-align: left

  *:not(input)
    color: #6c757d
    font-weight: bold

  h1, h2, h3, h4, h5, h6
    color: #6c757d

  button,
  .btn-primary
    color: #fff
    background-color: #6c757d
    border: none
    display: block
    width: 60%
    margin: 8px auto
    padding: 4px 6px
    font-size: 0.7rem
    font-weight: bold



.main-new
  text-align: left

  *:not(input)
    color: #6c757d
    font-weight: bold

  h1, h2, h3, h4, h5, h6
    color: #6c757d
    border: none

  .card
    border: 1px solid #6c757d
    padding: 10px
    border-radius: 6px

  button, .btn-primary
    color: #fff
    background-color: #6c757d
    border: none
    display: block
    width: 100%